@media screen and (min-width: 576px) {
  .pomodoro-timer {
    aspect-ratio: 1/1;
  }
}

.task-title {
  background: transparent;
  color: #eee;
  text-align: center;
  border: 0 !important;
}

.stop-button {
  width: 8rem;
  font-size: x-large;
}