@import '../../variables.scss';

@media screen and (min-width: $sm) {
  .pomodoro-timer {
    aspect-ratio: 1/1;
  }
}

.task-title {
  background: transparent;
  color: #eee;
  text-align: center;
  border: 0 !important;
}

.stop-button {
  width: 8rem;
  font-size: x-large;
}

@media screen and (max-width: ($sm - 1px) ) {
  .bg-dark-at-xs {
    background: $dark;
  }
}