<div class="row">
    <nav class="col-lg-10 mx-auto navbar navbar-dark p-2 bg-dark">
        <div class="container-fluid p-1 p-sm-3">
            <a class="navbar-brand h1" routerLink="/">Pomodoro app</a>
            <div>
                <ng-content></ng-content>
                <a role="button" class="text-light mx-1" routerLink="/settings" routerLinkActive #settingsRouteActive="routerLinkActive">
                    <i *ngIf="settingsRouteActive.isActive; else inSettings" class="bi bi-gear-fill display-5" aria-label="Settings"></i>
                    <ng-template #inSettings>
                        <i class="bi bi-gear display-5" aria-label="Settings"></i>
                    </ng-template>
                </a>
            </div>
        </div>
    </nav>
</div>